.rating-type {
    padding: 16px;
}

.mat-grid-tile-content {
    justify-content: space-between;
}

.rating {
    font-weight: bolder;
    font-size: large;
}

.review {
    padding: 16px;
    margin-bottom: 36px;
}

.divider {
    margin: 40px 0;
}

.review-text {
    margin-top: 16px;
}